input.flex-c-m.size4.bg7.bo-rad-15.hov1.s-text14.trans-0-4 {margin-top: 20px !important;}
span.act_price {text-decoration: line-through;color: #999;}
span.dis_price {margin-left:15px;}
span#discount {margin-left:10px;color: #e42c42;}
.slick-slide img {display:inline-block;}
a.block2-name.dis-block.s-text3.p-b-5 {min-height: 30px;}
.w-size16 {width:100%;}