input.form-control.textbox {
    border: 1px solid rgba(33, 33, 33, 0.12) !important;
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    color: #212121;
    height: 42px;
}
.card-view {
    background: #2E363F;
    margin-bottom: 12px;
    border: 1px solid rgba(33, 33, 33, 0.1);
    border-radius: 2px;
    box-shadow: none;
    padding: 15px 15px 0;
    margin-left: -9px;
    margin-right: -9px;
}
.card-view.panel > .panel-heading {
    border: none;
    color: inherit;
    border-radius: 0;
    margin: -15px -15px 0;
    padding: 20px 15px;
}
.panel-primary > .panel-heading {
    background-color: #08a6cc;
}
.txt-light {
    color: #fff !important;
}
h6, .panel-title {
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
}
.collapse.in {
    display: block;
}
.card-view.panel.panel-primary .panel-body, .card-view.panel.panel-inverse .panel-body {
    padding-top: 20px;
}
card-view.panel .panel-body {
    padding: 5px 0 20px;
}
.btn-primary {
    color: #fff;
    background-color: #08a6cc !important;
    border-color: #08a6cc !important;
}
input.btn.btn-success {
    margin: 10px 0 10px 0;
}
h4 {color:#000 !important;}
body {color:#fff !important;}